/* src/components/Calculator.css */

.calculator {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    background-color: #cfd6ee;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(67, 19, 189, 0.2);
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .display {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
  
  input {
    width: 100%;
    height: 15px;
    padding: 10px;
    margin: 5px 0;
    margin-left: -10px;
    font-size: 1.5em;
    border: none;
    background: #fff;
    border-radius: 5px;
    text-align: right;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #5410db;
    color: #fff;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #130458;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  /* Style for the "=" button */
  button:last-child {
    background-color: #dc230e;
  }
  
  button:last-child:hover {
    background-color: #801e13;
  }
  