body{
  background: linear-gradient(to right, rgb(230, 230, 238), rgb(75, 168, 199));
}
#img{
  margin-top:240px ;
}
#b{
  margin-left: -850px;
position: relative;
 top: 490px;
}
#c{
  margin-left: 850px;
position: relative;
 top: -265px;
}